
.s-container{
    padding: 10px;
    background: linear-gradient(180deg, #8C1D52 0%, #111037 100%);

}

.r-btn{
    position: relative;
    gap: 1rem;
   
    display: flex;
    right: -45%;
    margin-top: 10px;
    margin-bottom: 2rem;
    
}

.btn{
   padding: 0px 20px;
 background-color: rgb(54, 133, 244);
   color: white;
   border: none; 
   transition: transform 0.3s ease-in-out;
}
.slides{
   width: 100%;
   height: min-content;
}
.r-btn .btn:hover{
  transform: scale(1.2);
  background-color: rgb(12, 255, 12);
}
@media (max-width: 768px){
  .r-btn {
    position: relative;
    gap: 1rem;
    display: flex;
    right: -37%;
    margin-top: 10px;
    margin-bottom: 2rem;
} 
.slides {
  width: 85%;
  height: min-content;
  margin-left: 19px;
  margin-right: -1px;
}
}
