.milk-container{
    background: linear-gradient(180deg, #DD4423 0%, #F6960C 100%);


padding: 37px;
color:#280303;
font-family: "Fredoka", sans-serif;


}
.milk-inner-container{
    background-color: rgba(240, 248, 255, 0.518);
    padding: 15px;
    border-radius: 30px;
    /* animation: blob1 10s alternate infinite; */
    }

.ab-milk-inner-container{
    background-color:  #f0c62df1;
    padding: 20px;
    border-radius: 30px;
    /* animation: blob2 10s alternate infinite; */

   
}

@keyframes blob1{
    from{    border-radius: 5% 33% 61% 46% / 230% 19% 28% 12%;
    }
    to {    border-radius:   230% 19% 28% 12%/5% 33% 61% 46%;
    }
}
@keyframes blob2{
    from{  border-radius:   28% 12%  230% 19%/61% 46%  5% 33% ;
    }
    to {   border-radius:    61% 46% 5% 33% / 28% 12% 230% 19%
    }
}
@media (max-width: 768px){
    .milk-container{
        font-size: x-small;
       line-height: 200%;
    }

    .milk-inner-container{
        border-radius: 20px;
        }
    
    .ab-milk-inner-container{
       
        border-radius: 20px;
    
       
    }

}
